examples/auto-reply-to-faqs.json
{
  "name": "Auto Reply to FAQs",
  "nodes": [
    {
      "parameters": {
        "content": "AI-powered FAQ auto-reply system using BayEngage for email delivery. Processes incoming questions through vector search and sends intelligent responses via BayEngage campaigns.",
        "height": 530,
        "width": 1100,
        "color": 5
      },
      "id": "9346afca-4798-4807-8f7a-b1298919df74",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-reply-to-faqs"
      },
      "id": "692d46f2-9045-416a-b0cd-8e42fd3230c5",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "83193912-ef89-477a-b6b9-c293b5498153",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -130,
        0
      ]
    },
    {
      "parameters": {
        "model": "embed-english-v3.0",
        "options": {}
      },
      "id": "1fb02ad8-15e0-49c7-8271-a9af5c511da2",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        70,
        0
      ],
      "credentials": {
        "cohereApi": {
          "id": "COHERE_API",
          "name": "Cohere"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {},
        "pineconeIndex": {
          "__rl": true,
          "value": "auto_reply_to_faqs",
          "mode": "list",
          "cachedResultName": "auto_reply_to_faqs"
        }
      },
      "id": "45600a7a-615a-4733-ae13-a394bd19bfea",
      "name": "Pinecone Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        270,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "PINECONE_API",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "auto_reply_to_faqs",
          "mode": "list",
          "cachedResultName": "auto_reply_to_faqs"
        }
      },
      "id": "8620fcf8-2067-4776-8f6a-fb896d765342",
      "name": "Pinecone Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        270,
        -180
      ],
      "credentials": {
        "pineconeApi": {
          "id": "PINECONE_API",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "name": "Pinecone",
        "description": "Vector context"
      },
      "id": "4f9229e7-bf9d-4de4-b51e-49aa8553dfef",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        450,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "d42590ab-e482-416d-9418-9dc595ac9b04",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b993db0-8564-4ff1-839f-ce059f1d8545",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        450,
        -340
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_API",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Handle data",
        "options": {
          "systemMessage": "You are an assistant for Auto Reply to FAQs. Generate helpful, accurate responses based on the FAQ knowledge base. Format your response as a professional email reply."
        }
      },
      "id": "2395d437-ac56-4637-b4a6-4c626f217ae7",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email || $json.from_email || 'user@example.com' }}",
        "firstName": "={{ $json.first_name || $json.name || 'User' }}",
        "lastName": "={{ $json.last_name || '' }}",
        "customFields": {
          "values": [
            {
              "name": "question",
              "value": "={{ $json.question || $json.message || 'FAQ inquiry' }}"
            },
            {
              "name": "source",
              "value": "faq_auto_reply"
            }
          ]
        }
      },
      "id": "bayengage-contact-upsert",
      "name": "BayEngage Contact",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "get",
        "templateId": "={{ $json.template_id || 'faq_response_template' }}"
      },
      "id": "bayengage-template-get",
      "name": "BayEngage Template",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -200
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "send",
        "templateId": "={{ $('BayEngage Template').item.json.id }}",
        "contactId": "={{ $('BayEngage Contact').item.json.id }}",
        "subject": "Re: {{ $json.subject || 'Your Question' }}",
        "content": "={{ $('RAG Agent').item.json.output }}"
      },
      "id": "bayengage-campaign-send",
      "name": "BayEngage Send Reply",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1200,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "Auto Reply to FAQs"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "Status,Question,Response,Contact ID,Campaign ID",
          "schema": [
            {
              "name": "Status",
              "value": "={{ $json.success ? 'Sent' : 'Failed' }}"
            },
            {
              "name": "Question",
              "value": "={{ $json.question || $json.message }}"
            },
            {
              "name": "Response",
              "value": "={{ $('RAG Agent').item.json.output }}"
            },
            {
              "name": "Contact ID",
              "value": "={{ $('BayEngage Contact').item.json.id }}"
            },
            {
              "name": "Campaign ID",
              "value": "={{ $('BayEngage Send Reply').item.json.id }}"
            }
          ]
        }
      },
      "id": "2bc49ad8-7cc0-4cbc-b72e-3ccaa19fb8e2",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "Auto Reply to FAQs error: {{ $json.error.message }}"
      },
      "id": "44f0bf88-3961-4ec3-b965-011224fba8a1",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1450,
        120
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_API",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Window Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert": {
      "ai_document": [
        []
      ]
    },
    "Pinecone Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "BayEngage Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "BayEngage Template",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Contact": {
      "main": [
        [
          {
            "node": "BayEngage Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Template": {
      "main": [
        [
          {
            "node": "BayEngage Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Send Reply": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1
}
