examples/bayengage-campaign-tracking.json
{
  "name": "BayEngage Campaign Tracking",
  "nodes": [
    {
      "parameters": {
        "content": "AI-powered campaign tracking system using BayEngage. Monitors campaign performance, analyzes engagement metrics, and provides intelligent insights for optimization using BayEngage's analytics.",
        "height": 530,
        "width": 1100,
        "color": 5
      },
      "id": "eebc24a2-4ca9-4c7c-8053-42b97cc10da5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bayengage-campaign-tracking"
      },
      "id": "7c08e3ae-6992-45a6-b5a6-574ff186b449",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "ac546136-8d14-4a7d-a2d1-193fe6b7cf1a",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -130,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "5c980081-b726-4ac4-9260-8661cf42f865",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        70,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {},
        "indexName": "bayengage_campaign_tracking"
      },
      "id": "61e492b9-447c-409c-b7a2-d2a04d8092f5",
      "name": "Supabase Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        270,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_API",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "bayengage_campaign_tracking"
      },
      "id": "177c6403-48a9-46a4-87be-fa747d45a07d",
      "name": "Supabase Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        270,
        -180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_API",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "Supabase",
        "description": "Vector context"
      },
      "id": "a6a5e296-7190-4c5b-8912-231acd71dcb3",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        450,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "65fd57be-648d-4bfe-90f6-99ba29a87625",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20f9ac92-c53e-4391-8115-01e68528cef1",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        450,
        -340
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_API",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Handle data",
        "options": {
          "systemMessage": "You are an assistant for BayEngage Campaign Tracking. Analyze campaign performance data and engagement metrics to provide insights on open rates, click rates, bounce rates, and overall campaign effectiveness. Return a JSON object with performance analysis and optimization recommendations."
        }
      },
      "id": "1eb0cccd-e8f5-4891-a400-e4e3e8f7a6bc",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "list",
        "limit": 50
      },
      "id": "bayengage-campaign-list",
      "name": "BayEngage List Campaigns",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "getReports",
        "campaignId": "={{ $json.id }}"
      },
      "id": "bayengage-campaign-reports",
      "name": "BayEngage Campaign Reports",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1200,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "track",
        "eventName": "campaign_analyzed",
        "contactId": "={{ $json.contact_id || 'system' }}",
        "eventProperties": {
          "values": [
            {
              "name": "campaign_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "open_rate",
              "value": "={{ $json.open_rate || '0' }}"
            },
            {
              "name": "click_rate",
              "value": "={{ $json.click_rate || '0' }}"
            },
            {
              "name": "bounce_rate",
              "value": "={{ $json.bounce_rate || '0' }}"
            }
          ]
        }
      },
      "id": "bayengage-event-track",
      "name": "BayEngage Track Event",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1200,
        -200
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "BayEngage Campaign Tracking"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "Status,Campaign ID,Campaign Name,Open Rate,Click Rate,Bounce Rate,AI Insights",
          "schema": [
            {
              "name": "Status",
              "value": "={{ $json.success ? 'Tracked' : 'Failed' }}"
            },
            {
              "name": "Campaign ID",
              "value": "={{ $json.id }}"
            },
            {
              "name": "Campaign Name",
              "value": "={{ $json.name || $json.subject || 'Unknown' }}"
            },
            {
              "name": "Open Rate",
              "value": "={{ $json.open_rate || '0' }}%"
            },
            {
              "name": "Click Rate",
              "value": "={{ $json.click_rate || '0' }}%"
            },
            {
              "name": "Bounce Rate",
              "value": "={{ $json.bounce_rate || '0' }}%"
            },
            {
              "name": "AI Insights",
              "value": "={{ $('RAG Agent').item.json.insights || 'No insights available' }}"
            }
          ]
        }
      },
      "id": "f714ccc1-8d56-469e-ab46-f15c0d2a1a98",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "BayEngage Campaign Tracking error: {{ $json.error.message }}"
      },
      "id": "8d5bc20a-0398-4fb0-b40e-bbf6694f7192",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1450,
        120
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_API",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Window Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Supabase Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "ai_document": [
        []
      ]
    },
    "Supabase Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "BayEngage List Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage List Campaigns": {
      "main": [
        [
          {
            "node": "BayEngage Campaign Reports",
            "type": "main",
            "index": 0
          },
          {
            "node": "BayEngage Track Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Campaign Reports": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Track Event": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1
}
