examples/daily-email-digest.json
{
  "name": "Daily Email Digest",
  "nodes": [
    {
      "parameters": {
        "content": "AI-powered daily email digest system using BayEngage. Analyzes content, generates personalized digests, and sends them via BayEngage campaigns to segmented contact lists.",
        "height": 530,
        "width": 1100,
        "color": 5
      },
      "id": "47d7b2cb-5d44-4625-aeab-33e0b7ce529f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-email-digest"
      },
      "id": "a079decc-ca6c-4248-b4c9-34deb17c8d26",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "8d196219-7de5-428e-8e88-420abfcc9237",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -130,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "8c20a8a3-3002-4d4f-b46f-cf859d229655",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        70,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {},
        "indexName": "daily_email_digest"
      },
      "id": "ae6e7c84-9dbb-4ec7-a621-1a1e438941b6",
      "name": "Supabase Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        270,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_API",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "daily_email_digest"
      },
      "id": "f3ba587a-bd11-418d-9998-395164701bd3",
      "name": "Supabase Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        270,
        -180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_API",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "Supabase",
        "description": "Vector context"
      },
      "id": "eed3ad49-c219-4c4a-b420-eff8b6401981",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        450,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "6622f4cb-bdbe-4c76-9ea0-25cf1e2ce2a4",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "edd62db3-4bfd-4ab4-b4e5-0e038b0beec1",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        450,
        -340
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_API",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Handle data",
        "options": {
          "systemMessage": "You are an assistant for Daily Email Digest. Analyze the provided content and create a personalized daily digest email. Include relevant articles, updates, and personalized recommendations. Format as HTML email content."
        }
      },
      "id": "0e624e84-3f49-49d4-b0eb-a3268f6984d0",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "list",
        "limit": 100
      },
      "id": "bayengage-contact-list",
      "name": "BayEngage List Contacts",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "create",
        "templateName": "Daily Digest - {{ new Date().toISOString().split('T')[0] }}",
        "templateContent": "={{ $('RAG Agent').item.json.output }}"
      },
      "id": "bayengage-template-create",
      "name": "BayEngage Create Template",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -200
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "create",
        "templateId": "={{ $('BayEngage Create Template').item.json.id }}",
        "subject": "Daily Digest - {{ new Date().toLocaleDateString() }}",
        "contactId": "={{ $json.id }}"
      },
      "id": "bayengage-campaign-create",
      "name": "BayEngage Create Campaign",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1200,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "send",
        "campaignId": "={{ $json.id }}"
      },
      "id": "bayengage-campaign-send",
      "name": "BayEngage Send Campaign",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1450,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "Daily Email Digest"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "Status,Contact Email,Template ID,Campaign ID,Send Status",
          "schema": [
            {
              "name": "Status",
              "value": "={{ $json.success ? 'Sent' : 'Failed' }}"
            },
            {
              "name": "Contact Email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "Template ID",
              "value": "={{ $('BayEngage Create Template').item.json.id }}"
            },
            {
              "name": "Campaign ID",
              "value": "={{ $('BayEngage Create Campaign').item.json.id }}"
            },
            {
              "name": "Send Status",
              "value": "={{ $('BayEngage Send Campaign').item.json.status || 'Pending' }}"
            }
          ]
        }
      },
      "id": "dbec21d4-50e8-47a6-a920-6da576ebc01d",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1700,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "Daily Email Digest error: {{ $json.error.message }}"
      },
      "id": "487c7190-b1d5-4770-b503-ec7ce44ad9ba",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1700,
        120
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_API",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Window Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Supabase Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "ai_document": [
        []
      ]
    },
    "Supabase Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "BayEngage List Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "BayEngage Create Template",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage List Contacts": {
      "main": [
        [
          {
            "node": "BayEngage Create Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Create Template": {
      "main": [
        [
          {
            "node": "BayEngage Create Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Create Campaign": {
      "main": [
        [
          {
            "node": "BayEngage Send Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Send Campaign": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1
}
