examples/parse-invoice-emails.json
{
  "name": "Parse Invoice Emails",
  "nodes": [
    {
      "parameters": {
        "content": "AI-powered invoice email parsing system using BayEngage. Analyzes invoice emails, extracts key data, and sends automated follow-up campaigns via BayEngage based on invoice status and payment information.",
        "height": 530,
        "width": 1100,
        "color": 5
      },
      "id": "a9239a2a-4213-4217-acfb-cbc104aad31a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parse-invoice-emails"
      },
      "id": "dda8050a-0edc-4b73-92bd-686e48e63e1b",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "50b68a75-9985-47db-8686-9477706474b3",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -130,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "2f2358b0-a8e3-460f-b5b0-72a194019586",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        70,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {},
        "indexName": "parse_invoice_emails"
      },
      "id": "134a8b92-3314-4397-8b77-1a6bca52a7d4",
      "name": "Weaviate Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1,
      "position": [
        270,
        0
      ],
      "credentials": {
        "weaviateApi": {
          "id": "WEAVIATE_API",
          "name": "Weaviate account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "parse_invoice_emails"
      },
      "id": "ceb03c85-f352-423c-911b-4d30abee397e",
      "name": "Weaviate Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1,
      "position": [
        270,
        -180
      ],
      "credentials": {
        "weaviateApi": {
          "id": "WEAVIATE_API",
          "name": "Weaviate account"
        }
      }
    },
    {
      "parameters": {
        "name": "Weaviate",
        "description": "Vector context"
      },
      "id": "adfd835e-81cd-4afe-ad69-d8e6f78c27af",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        450,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "7cdd9592-0400-4ad9-9a11-a26367d7cb4b",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0acfc97-9afd-4f56-88de-7c0e2b1cfd1d",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        450,
        -340
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_API",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Handle data",
        "options": {
          "systemMessage": "You are an assistant for Parse Invoice Emails. Analyze invoice email content to extract key information including invoice number, amount, due date, vendor, payment status, and any special notes. Return a JSON object with structured invoice data and recommended follow-up actions."
        }
      },
      "id": "d2e31148-f0c1-4164-97f9-670bf929a2ce",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.from_email || $json.sender_email || 'vendor@example.com' }}",
        "firstName": "={{ $json.from_name || $json.sender_name || 'Vendor' }}",
        "lastName": "={{ $json.from_last_name || '' }}",
        "customFields": {
          "values": [
            {
              "name": "invoice_number",
              "value": "={{ $('RAG Agent').item.json.invoice_number || 'N/A' }}"
            },
            {
              "name": "invoice_amount",
              "value": "={{ $('RAG Agent').item.json.amount || '0' }}"
            },
            {
              "name": "due_date",
              "value": "={{ $('RAG Agent').item.json.due_date || 'N/A' }}"
            },
            {
              "name": "payment_status",
              "value": "={{ $('RAG Agent').item.json.payment_status || 'pending' }}"
            },
            {
              "name": "vendor_name",
              "value": "={{ $('RAG Agent').item.json.vendor || 'Unknown' }}"
            }
          ]
        }
      },
      "id": "bayengage-contact-upsert",
      "name": "BayEngage Contact",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "template",
        "operation": "get",
        "templateId": "={{ $('RAG Agent').item.json.template_id || 'invoice_follow_up_template' }}"
      },
      "id": "bayengage-template-get",
      "name": "BayEngage Template",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        950,
        -200
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "create",
        "templateId": "={{ $('BayEngage Template').item.json.id }}",
        "contactId": "={{ $('BayEngage Contact').item.json.id }}",
        "subject": "Invoice {{ $('RAG Agent').item.json.invoice_number || 'Update' }} - {{ $('RAG Agent').item.json.payment_status || 'Status Update' }}",
        "content": "={{ $('RAG Agent').item.json.follow_up_content || $('RAG Agent').item.json.output }}"
      },
      "id": "bayengage-campaign-create",
      "name": "BayEngage Create Campaign",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1200,
        -40
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "track",
        "eventName": "invoice_processed",
        "contactId": "={{ $('BayEngage Contact').item.json.id }}",
        "eventProperties": {
          "values": [
            {
              "name": "invoice_number",
              "value": "={{ $('RAG Agent').item.json.invoice_number || 'N/A' }}"
            },
            {
              "name": "amount",
              "value": "={{ $('RAG Agent').item.json.amount || '0' }}"
            },
            {
              "name": "status",
              "value": "={{ $('RAG Agent').item.json.payment_status || 'pending' }}"
            }
          ]
        }
      },
      "id": "bayengage-event-track",
      "name": "BayEngage Track Event",
      "type": "n8n-nodes-bayengage.bayEngage",
      "typeVersion": 1,
      "position": [
        1200,
        -200
      ],
      "credentials": {
        "bayEngageApi": {
          "id": "BAYENGAGE_API",
          "name": "BayEngage API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "Parse Invoice Emails"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "Status,Invoice Number,Amount,Due Date,Vendor,Payment Status,Contact ID,Campaign ID",
          "schema": [
            {
              "name": "Status",
              "value": "={{ $json.success ? 'Processed' : 'Failed' }}"
            },
            {
              "name": "Invoice Number",
              "value": "={{ $('RAG Agent').item.json.invoice_number || 'N/A' }}"
            },
            {
              "name": "Amount",
              "value": "={{ $('RAG Agent').item.json.amount || '0' }}"
            },
            {
              "name": "Due Date",
              "value": "={{ $('RAG Agent').item.json.due_date || 'N/A' }}"
            },
            {
              "name": "Vendor",
              "value": "={{ $('RAG Agent').item.json.vendor || 'Unknown' }}"
            },
            {
              "name": "Payment Status",
              "value": "={{ $('RAG Agent').item.json.payment_status || 'pending' }}"
            },
            {
              "name": "Contact ID",
              "value": "={{ $('BayEngage Contact').item.json.id }}"
            },
            {
              "name": "Campaign ID",
              "value": "={{ $('BayEngage Create Campaign').item.json.id }}"
            }
          ]
        }
      },
      "id": "12711eea-68c0-49f7-809e-26f516e2a96a",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "Parse Invoice Emails error: {{ $json.error.message }}"
      },
      "id": "91904d0c-429d-4890-b73b-0e0bb77b8ac7",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1450,
        120
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_API",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Window Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Weaviate Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Weaviate Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Weaviate Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Weaviate Insert": {
      "ai_document": [
        []
      ]
    },
    "Weaviate Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "BayEngage Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "BayEngage Template",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Contact": {
      "main": [
        [
          {
            "node": "BayEngage Create Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Template": {
      "main": [
        [
          {
            "node": "BayEngage Create Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Create Campaign": {
      "main": [
        [
          {
            "node": "BayEngage Track Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BayEngage Track Event": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1
}
